<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>
</head>
<body>
    <a href="https://github.com/adityakalambe01/StudentManagementSystem/">GitHub</a>
    <br>
    <a href="https://www.postman.com/adityakalambe20/workspace/student-management-system/overview">Documentation</a>
</body>
</html>